<h1>Merchant Discounts Index</h1>
<%= link_to 'Create New Discount', new_merchant_discount_path(@merchant) %>
<h2><%= @merchant.name %>'s Discounts</h2>

<div class="discount_index">
  <% @discounts.each do |discount| %>
  <li> <%="Buy #{discount.threshold} items, get #{discount.discount}% off" %></li>
  <% end %>
</div>
